In [93]:
import pandas as pd

In [94]:
data_dict = {
    'first_name' : ['hassane','sara','francis','laura'],
    'last_name' : ['mamane','tamami','eustler','chavez'],
    'email' : ['hassanemmn@gmail.com','sara@gmail.com','francisestl@gmail.com','laura@gmail.com'],
    'date_of_birth':['16/02/2001','21/03/2001','30/07/2002','14/10/2003'],
    'salary': [12000,9700,9500,11000],
    'field': ['Data & IA', 'Software engineering', 'Litterature', 'Art'],
    'sex': ['M','F','M','F'],
    'languages_know' : ['python,java,c_sharp','python,R,c++','php,java,c',''],
    'answer' : [True,False,False,True],
}
df = pd.DataFrame(data_dict)
df

,first_name,last_name,email,date_of_birth,salary,field,sex,languages_know,answer
0,hassane,mamane,hassanemmn@gmail.com,16/02/2001,12000,Data & IA,M,"python,java,c_sharp",True
1,sara,tamami,sara@gmail.com,21/03/2001,9700,Software engineering,F,"python,R,c++",False
2,francis,eustler,francisestl@gmail.com,30/07/2002,9500,Litterature,M,"php,java,c",False
3,laura,chavez,laura@gmail.com,14/10/2003,11000,Art,F,,True

filter mask : True pour toutes les lignes qui vérifient la condition et False pour les autres

In [95]:
df['answer'] == True

0     True
1    False
2    False
3     True
Name: answer, dtype: bool

On peut mettre le filtre dans une variable

In [96]:
filtre = df['answer'] == True

On peut faire un traitement

In [97]:
df.loc[filtre, 'email']

0    hassanemmn@gmail.com
3         laura@gmail.com
Name: email, dtype: object

On peut écrire des requêtes avec & , | , max() , min()

In [98]:
req = (df['answer'] == True) & (df['date_of_birth'] == '16/02/2001')
df.loc[req]

,first_name,last_name,email,date_of_birth,salary,field,sex,languages_know,answer
0,hassane,mamane,hassanemmn@gmail.com,16/02/2001,12000,Data & IA,M,"python,java,c_sharp",True

In [99]:
high_salary = df['salary'] >= 10000
df3 = df.loc[high_salary,['email', 'sex', 'field', 'date_of_birth', 'salary']].set_index('email')

In [100]:
df3

                     sex      field date_of_birth  salary
email
hassanemmn@gmail.com   M  Data & IA    16/02/2001   12000
laura@gmail.com        F        Art    14/10/2003   11000

In [101]:
fields = ['Data & IA']

Requête avec isin()

In [102]:
df3.loc[df3['field'].isin(fields)]

                     sex      field date_of_birth  salary
email
hassanemmn@gmail.com   M  Data & IA    16/02/2001   12000

Requête avec une chaîne de caractères

In [104]:
know_python = df['languages_know'].str.contains('python', na=False)
df.loc[know_python,['email','salary']]

                  email  salary
0  hassanemmn@gmail.com   12000
1        sara@gmail.com    9700